.linefl{
  fill:none;
  stroke:#aaa;
}
html {
  font-size: 16px;
}

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
}

h1{
  font-family: 'Merriweather', serif;
  font-size:54px;
  color: #449e91;
}
h2{
  font-family: 'Playfair Display', serif;
  font-weight: Bold;
  color: #e5b35a;
}
.txt{
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}
p.txt{
  font-family: 'Crimson Text', serif;
  font-size: 14px;
}
.sec{
  font-family: 'Merriweather', serif;
  background-color: #449e91;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px
}
.chartTitle{
  font-family: 'Merriweather', serif;
  font-size:24px;
}
.labels{
  font-family: 'Quicksand', sans-serif;
  font-size:12px;
}
.ll{
  font-family: 'Merriweather', serif;
  font-size:15px;
}
a,
a:visited {
  color: rgba(47,94,170);
}

header {
  background-color: #eee;
  border-bottom: 1px solid #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  margin-left: 8px;
}
.text{
  width: 300px;
}
#content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-column-gap: 20px;
}

nav {
  border: 0px solid #999;
  width:300px;
}
.lineglades{
  fill:none;
  stroke:#e5b35a;
}

.linenassau{
  fill:none;
  stroke:#449e91;
}

.x-Axis{
  fill:none;
}

.y-Axis{
  fill:none;
  stroke-dasharray:5,5;
}

#tooltipM{
  position: absolute;
  width:150px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltipM.hidden {
  display: none;
}
#tooltip{
  position: absolute;
  width:150px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius:10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

.hover{
  stroke: red;
}
